<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <h2>{{appname}}</h2>
    <legend>To continue, log in to {{appname}}</legend>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" spellCheck="false" autoComplete="email" formControlName="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" autoComplete="password" formControlName="password" />
    </div>
    <div>
        <a class="forgot-password" [routerLink]="['/account/reset_password']">Forgot your password?</a>
    </div>
    <button class="button" type="submit">Login</button>
    <a [routerLink]="['/account/signup']">Create an Account</a>
</form>