body {
    margin: 0;
    padding: 0;
    font-family: 'Gotham Rounded', 'verdana', sans-serif;
    user-select: none;
}

code,
pre {
    font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button,
input,
a {
    outline: none !important;
}

input[type=submit] {
    font-family: 'Gotham Rounded', 'verdana', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}