:host {
    grid-column: 2;
    grid-row: 2;

    form {
        display: grid;
        grid-gap: 10px;
        margin: auto 0;
        padding: 32px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 16px;
        box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
        text-align: center;

        h2 {
            font-size: 30px;
            font-weight: 500;
        }

        em {
            font-size: 13px;
        }

        div {
            display: flex;
            justify-content: center;
            margin: 0 0 10px;
            flex-direction: column;

            a.forgot-password {
                font-size: 13px;
                padding: 0;
                text-align: right;
                margin-left: auto;
            }

            em {
                padding: 5px;
                font-size: 13px;
            }

            label {
                padding: 2px 5px;
                text-align: left;
                font-size: 13px;
                opacity: 0.7;
            }

            input {
                border: 2px solid #e0d7da;
                border-radius: 10px;
                padding: 12px;
                background: none;

                &:focus {
                    border: 2px solid #ff4654;
                    outline: none;
                }
            }
        }

        a {
            padding: 10px;
            font-size: 15px;
            text-align: center;
        }
    }
}