<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h2>{{appname}}</h2>
    <legend>Reset Password</legend>
    <em>A reset link will be sent to your inbox!</em>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" spellCheck="false" formControlName="email" />
    </div>
    <button type="submit">Send Reset Link</button>
    <a [routerLink]="['/account/signin']">Go back</a>
</form>